body {
    background-color: rgb(246, 211, 223);
}

#grid {
    background: white;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0); 
    border-radius: 5px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
  }

#layout {
    margin: 30px;
}

#video {
    margin: 30px;
}

img {
    padding-top: 45px;
    padding-left: 30px;
}

#bio {
    padding-top: 45px;
}

